<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置创建spring容器时扫描的包-->
    <context:component-scan base-package="com.github.zhuyiyi1990.hwuanote"/>

    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--开启springmvc框架注解配置的支持-->
    <mvc:annotation-driven/>

    <!--配置前端控制器不拦截静态资源-->
    <mvc:resources location="/js/" mapping="/js/**/"/><!--javascript-->
    <mvc:resources location="/css/" mapping="/css/**/"/><!--样式-->
    <mvc:resources location="/images/" mapping="/images/**/"/><!--图片-->

    <!--配置文件解析器
    id必须制定为multipartResolver
-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/><!--限制上传文件大小10M-->
    </bean>

    <!--配置异常处理器-->
    <bean id="sysExceptionResolver" class="com.github.zhuyiyi1990.hwuanote.exception.SysExceptionResolver"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--要拦截的方法-->
            <mvc:mapping path="/user/*"/>
            <!--配置拦截器对象-->
            <bean class="com.github.zhuyiyi1990.hwuanote.interceptor.MyInterceptor1"/>
            <!--不要拦截的方法,上下只要配置一个即可-->
            <!--<mvc:exclude-mapping path=""/>-->
        </mvc:interceptor>
        <mvc:interceptor>
            <!--要拦截的方法-->
            <mvc:mapping path="/**"/>
            <!--配置拦截器对象-->
            <bean class="com.github.zhuyiyi1990.hwuanote.interceptor.MyInterceptor2"/>
            <!--不要拦截的方法,上下只要配置一个即可-->
            <!--<mvc:exclude-mapping path=""/>-->
        </mvc:interceptor>
    </mvc:interceptors>

</beans>